django~=3.1.5
djangorestframework~=3.12.2
channels~=3.0.3
channels-redis
asgiref~=3.2.10
pip~=20.2.4
zlib~=1.2.11
wheel~=0.34.2
brotli~=1.0.9
openssl~=1.1.1j
cryptography~=3.3.1
py~=1.9.0
lxml~=4.5.2
keyring~=21.2.1
setuptools~=49.2.0
cython~=0.29.21